// color variables:
$clr-negative: #ff1744;
$clr-positive: #2abf77;
$clr-neutral: #425a65;
$clr-gray100: #f0f7f8;          // background color
$clr-gray200: #cfd8dc;
$clr-gray300: #a7b7be;          
$clr-gray400: #6b7e86;
$clr-gray500: #425a65;

// border radius:
$radius: 0.2rem;    

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app {
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    background-color: $clr-gray100;
    color: $clr-gray500;
}

h1 {
    font-size: 6rem;
}

.button-wrapper {
    display: flex;
    gap: 1rem;

    & > * {                 // select all the children of the button wrapper 
        border: none;
        background-color: white;
        box-shadow: 0px 0px 0px $clr-gray200;
        font-weight: bold;
        font-size: 2rem;
        color: inherit;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        cursor: pointer; 
        outline: none;
        transition: 
            background-color 250ms ease-in-out, transform 50ms ease-in-out;

        &:hover{
            background-color: $clr-gray200;
        }

        &:active{
            transform:scale(0.9);
        }
    }
}

.negative {
    color: $clr-negative;
    animation: pulse 500ms ease-in-out;
}

.positive {
    color: $clr-positive;
    animation: pulse 500ms ease-in-out;
}

.neutral {
    color: $clr-neutral;
    animation: pulse 500ms ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
// COULD ALSO BE:
    // 0%, 100% {
    //     transform: scale(1);
    // }
    // 50% {
    //     transform: scale(1.2);
    // }
}

#clear {
    display: block;
    gap: 1rem;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 2px $clr-gray200;
    font-weight: bold;
    font-size: 2rem;
    color: inherit;
    border-radius: 40%;
    height: 4rem;
    width: 6rem;
    cursor: pointer; 
    outline: none;
    transition: 
        background-color 250ms ease-in-out, transform 50ms ease-in-out;  
        
    &:hover{
        background-color: $clr-gray200;
    }

    &:active{
        transform:scale(0.9);
    }
}

#react
{
	position: absolute;
	top:20%;
	left:50%;
	transform:translate(-50%, -50%);
	margin:0;
	padding:0;
	display: flex;
}


ul li
{
	list-style: none;
	color: #484848;
	font-size: 5em;
	font-family: verdana;
	letter-spacing: 20px;
	animation: animate 1.2s linear infinite; 
}



#react {
    & > li:nth-child(1)
    {
        animation-delay: 0.2s;
    }
    & > li:nth-child(2)
    {
        animation-delay: 0.4s;
    }
    & > li:nth-child(3)
    {
        animation-delay: 0.6s;
    }
    & > li:nth-child(4)
    {
        animation-delay: 0.8s;
    }
    & > li:nth-child(5)
    {
        animation-delay: 1s;
    }
}


@keyframes animate
{
	0%
	{
		color: #484848;
		text-shadow: none;
		transform: scale(1);

	}
	50%
	{
		color: #484848;
		text-shadow: none;
		transform: scale(1);
		
	}
	100%
	{
		color: rgb(136, 191, 191);
		// text-shadow: 0 0 7px rgb(78, 129, 129), 0 0 50px rgb(40, 71, 71);;
		transform: scale(1.1);
		
	}
}

